_meta_: {}
bundle_root: auto3dseg/work_dir/dints_0
ckpt_path: $@bundle_root + '/model_fold' + str(@fold)
class_names:
- index: [1]
  name: ecs
- index: [2]
  name: pm
- index: [3]
  name: mito_mem
- index: [4]
  name: mito_lum
- index: [5]
  name: mito_ribo
- index: [6]
  name: golgi_mem
- index: [7]
  name: golgi_lum
- index: [8]
  name: ves_mem
- index: [9]
  name: ves_lum
- index: [10]
  name: endo_mem
- index: [11]
  name: endo_lum
- index: [12]
  name: er_mem
- index: [13]
  name: er_lum
- index: [14]
  name: nuc
data_file_base_dir: /work/users/g/s/gsgeorge/cellmap/repo/CellMap-Segmentation
data_list_file_path: /work/users/g/s/gsgeorge/cellmap/repo/CellMap-Segmentation/auto3dseg/nifti_data/datalist.json
finetune:
  activate_finetune: false
  overwrite:
    adapt_valid_mode: false
    early_stop_mode: false
    learning_rate: 0.001
    lr_scheduler: {_target_: torch.optim.lr_scheduler.ConstantLR, factor: 1.0, optimizer: '@training#optimizer',
      total_iters: $@training#num_epochs // @training#num_epochs_per_validation +
        1}
    num_epochs: 20
    num_epochs_per_validation: 1
  pretrained_ckpt_name: $@bundle_root + '/model_fold' + str(@fold) + '/best_metric_model.pt'
fold: 0
infer: {ckpt_name: $@bundle_root + '/model_fold' + str(@fold) + '/best_metric_model.pt',
  data_list_key: testing, fast: true, log_output_file: $@bundle_root + '/model_fold'
    + str(@fold) + '/inference.log', output_path: $@bundle_root + '/prediction_' +
    @infer#data_list_key, save_prob: false}
mlflow_experiment_name: Auto3DSeg
mlflow_tracking_uri: $@bundle_root + '/model_fold' + str(@fold) + '/mlruns/'
show_cache_progress: false
stats_summary:
  image_stats:
    shape:
      mean: [393.29787234042556, 397.78723404255317, 415.5531914893617]
  n_cases: 188
training:
  adapt_valid_mode: true
  adapt_valid_num_epochs_per_validation: [2, 4, 2]
  adapt_valid_progress_percentages: [10, 40, 70]
  amp: true
  auto_scale_allowed: true
  cache_rate: 0
  data_list_key: null
  early_stop_delta: 0
  early_stop_mode: true
  early_stop_patience: 20
  epoch_divided_factor: 36
  input_channels: 1
  learning_rate: 0.2
  log_output_file: $@bundle_root + '/model_fold' + str(@fold) + '/training.log'
  loss: {_target_: DiceFocalLoss, batch: true, include_background: true, sigmoid: $not
      @training#softmax, smooth_dr: 1.0e-05, smooth_nr: 1.0e-05, softmax: '@training#softmax',
    squared_pred: true, to_onehot_y: '@training#softmax'}
  lr_scheduler: {_target_: torch.optim.lr_scheduler.PolynomialLR, optimizer: '@training#optimizer',
    power: 0.5, total_iters: $@training#num_epochs // @training#num_epochs_per_validation
      + 1}
  num_cache_workers: 8
  num_crops_per_image: 26
  num_epochs: 41
  num_epochs_per_validation: 2
  num_images_per_batch: 2
  num_patches_per_iter: 13
  num_sw_batch_size: null
  num_workers: 2
  num_workers_validation: 2
  optimizer: {_target_: torch.optim.SGD, lr: '@training#learning_rate', momentum: 0.9,
    weight_decay: 4.0e-05}
  output_classes: 14
  overlap_ratio: 0.625
  overlap_ratio_train: 0.125
  random_seed: 0
  resample_resolution: [8.0, 8.0, 8.0]
  roi_size: [96, 96, 96]
  roi_size_valid: [96, 96, 96]
  softmax: false
  sw_input_on_cpu: false
  train_cache_rate: '@training#cache_rate'
  transforms: {resample_resolution: '@training#resample_resolution'}
  valid_at_orig_resolution_at_last: true
  valid_at_orig_resolution_only: false
  validate_cache_rate: '@training#cache_rate'
validate: {ckpt_name: $@bundle_root + '/model_fold' + str(@fold) + '/best_metric_model.pt',
  data_list_key: null, log_output_file: $@bundle_root + '/model_fold' + str(@fold)
    + '/validation.log', output_path: $@bundle_root + '/prediction_fold' + str(@fold),
  save_mask: true}
